@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Manrope";
  --font-manrope-regular: "Manrope";
  --font-manrope-medium: "Manrope";
  --font-manrope-semibold: "Manrope";
  --font-manrope-bold: "Manrope";
  --font-manrope-extrabold: "Manrope";
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Dashboard Stats */
  --color-active-elixirs: var(--active-elixirs);
  --color-total-wizards: var(--total-wizards);
  --color-pending-verifications: var(--pending-verifications);

  /* Shared Colors */
  --color-purple: var(--purple);
  --color-dark-purple: var(--dark-purple);
  --color-yellow: var(--yellow);
  --color-dark-blue: var(--dark-blue);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-layout-border: var(--layout-border);

  /* Dashboard */
  --color-dashboard-background: var(--dashboard-background);
  --color-sidebar-background: var(--sidebar-background);

  /* Table */
  --color-table-border: var(--table-border-color);
  --color-table-row-border: var(--table-row-border-color);
  --color-table-header: var(--secondary-text);
  --color-table-id: var(--purple);
  --color-table-cell: var(--primary-text);
  --color-table-action: var(--secondary-text);
  --color-table-header-background: var(--table-header-background);

  /* Search */
  --color-search-bg: var(--search-bg);
  --color-search-border: var(--search-border);
  --color-search-icon: var(--secondary-text);
  --color-search-text: var(--search-text);

  /* Elixir */
  --color-elixir-yellow: var(--yellow);
  --color-elixir-purple: var(--purple);
  --color-elixir-yellow-bg: var(--elixir-yellow-bg);
  --color-elixir-purple-bg: var(--elixir-purple-bg);
  --color-elixir-yellow-border: var(--elixir-yellow-border);
  --color-elixir-purple-border: var(--elixir-purple-border);

  /* Button */
  --color-purple-button: var(--purple);

  /* Chart */
  --color-chart-bar: var(--chart-bar);
  --color-chart-caption: var(--dark-blue);
  --color-chart-primary: var(--primary-text);
  --color-chart-label: var(--secondary-text);

  --color-chart-specialty-alchemists: var(--purple);
  --color-chart-specialty-transmuters: var(--yellow);
  --color-chart-specialty-conjurers: var(--dark-blue);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Dashboard */
 /* Dashboard */
 --sidebar-background: hsla(212, 55%, 11%, 1);
  --dashboard-background: hsla(211, 76%, 8%, 0.8);

  /* Dashboard Stats */
  --active-elixirs: hsla(34, 100%, 69%, 1);
  --total-wizards: hsla(258, 100%, 87%, 1);
  --pending-verifications: hsla(6, 100%, 84%, 1);

  /* Shared Colors */
  --purple: hsla(258, 100%, 87%, 1); 
  --dark-purple: hsla(265, 100%, 28%, 1);
  --yellow: hsla(34, 100%, 69%, 1);
  --dark-blue: hsla(212, 29%, 22%, 1);
  --primary-text: hsla(215, 79%, 91%, 1);
  --secondary-text: hsla(264, 20%, 80%, 1);
  --layout-border: hsla(259, 11%, 30%, 0.2);

  /* Table */
  --table-border-color: hsla(258, 100%, 87%, 0.1);
    --table-row-border-color: hsla(259, 11%, 30%, 0.1);
  --table-header-background: hsla(212, 36%, 17%, 0.5);

  /* Search */
  --search-bg: hsla(212, 36%, 17%, 0.4);
  --search-border: hsla(259, 11%, 30%, 0.3);
  --search-text: hsla(264, 20%, 80%, 0.5);

  /* Elixir */
  --elixir-yellow-bg: hsla(38, 100%, 47%, 0.1);
  --elixir-purple-bg: hsla(258, 100%, 74%, 0.1);

  --elixir-yellow-border: hsla(38, 100%, 47%, 0.2);
  --elixir-purple-border: hsla(258, 100%, 74%, 0.2);

  /* Chart */
  --chart-bar: hsla(258, 100%, 87%, 0.2);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}